@font-face {
  font-family: "Code";
  src: url("/src/assets/fonts/Code.woff2");
}
@font-face {
  font-family: "Crooga";
  src: url("/src/assets/fonts/Crooga.ttf");
}
@font-face {
  font-family: "Cursive";
  src: url("/src/assets/fonts/Cursive.ttf");
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/Figtree.ttf");
}
@font-face {
  font-family: "Fonto";
  src: url("/src/assets/fonts/Fonto.otf");
}
@font-face {
  font-family: "Milk-";
  src: url("/src/assets/fonts/Milk-.ttf");
}
@font-face {
  font-family: "Milk";
  src: url("/src/assets/fonts/Milk.ttf");
}
@font-face {
  font-family: "Nexa+";
  src: url("/src/assets/fonts/Nexa+.ttf");
}
@font-face {
  font-family: "Nexa";
  src: url("/src/assets/fonts/Nexa.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/Rubik.ttf");
}
@font-face {
  font-family: "Slice";
  src: url("/src/assets/fonts/Slice.woff2");
}
@font-face {
  font-family: "Typo";
  src: url("/src/assets/fonts/Typo.otf");
}
@font-face {
  font-family: "Versel";
  src: url("/src/assets/fonts/Versel.woff2");
}
@font-face {
  font-family: "Open";
  src: url("/src/assets/fonts/Open.woff2");
}
@font-face {
  font-family: "MilkOld";
  src: url("/src/assets/fonts/MilkOld.otf");
}
